.categories-door {
  background: $gray-4;
  padding: 32px;
  display: flex;
  align-items: center;
  margin-top: 60px;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  ul {
    display: flex;
    column-gap: 64px;

    li {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: black;
        bottom: -32px;
        left: 0;
      }
    }
  }
}
