.middle {
  background-color: $gray-4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding: 50px;
    min-height: 700px;
    flex-direction: row;
  }

  .middle__left {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    display: none;
    height: 580px;
    width: 585px;
    position: relative;
    background: url('../../public/photo-middle.png');
    background-size: cover;
    background-repeat: no-repeat;

    .middle__left_title {
      position: absolute;
      left: 65px;
      font-size: 30px;
      color: red;
      top: 56px;
      span:first-child {
        color: white;
        font-size: 40px;
        display: block;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
      }

      span:last-child {
        display: block;
        color: transparent;
        -webkit-text-stroke: 1px white;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 1px;
      }
    }

    .middle__left_top {
      background: var(
        --dgrad,
        linear-gradient(220deg, #ffe600 43.75%, #ffac00 100%)
      );
      height: 45px;
      width: 100%;
      top: 0;
      z-index: 10;
      position: absolute;
      display: flex;
      align-items: center;
      column-gap: 14px;
    }
    .middle__left_right {
      background: var(
        --dgrad,
        linear-gradient(20deg, #ffe600 43.75%, #ffac00 100%)
      );
      height: 100%;
      position: absolute;
      width: 45px;
      right: 0;
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .middle__left_left {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 45px;
      background: var(
        --dgrad,
        linear-gradient(220deg, #ffe600 43.75%, #ffac00 100%)
      );
      position: absolute;
    }
    .middle__left_bottom {
      width: 100%;
      height: 45px;
      position: absolute;
      bottom: 0;
      background: var(
        --dgrad,
        linear-gradient(220deg, #ffe600 43.75%, #ffac00 100%)
      );
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .middle__right {
    background: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px 0;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 700px;
      width: 585px;
    }

    .middle__right_picture {
      width: 257px;
      height: 272px;
      z-index: 2;
      position: relative;
      @media screen and (min-width: 768px) {
        width: 357px;
        height: 392px;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .middle__right_bg {
        position: absolute;
        z-index: -1;
        top: 17%;
        left: 5%;
        @media screen and (min-width: 768px) {
          top: 10%;
          left: -3%;
        }

        svg {
          height: 256px;
          width: 223px;
          @media screen and (min-width: 768px) {
            width: 389px;
            height: 339px;
          }
        }
      }
    }

    .middle__right_badge {
      position: absolute;
      background: black;
      color: $yellow;
      text-align: center;
      font-size: 34px;
      font-weight: 800;
      padding: 9.739px 19.478px;
      border-radius: 12.174px;
      line-height: 60%;
      top: 27px;
      left: 35px;
      z-index: 100;
      @media screen and (min-width: 768px) {
        font-size: 51px;
      }
    }

    .middle__right_infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 45px;
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
      .price {
        display: flex;
        align-items: center;
        column-gap: 8px;
        @media screen and (min-width: 768px) {
          column-gap: 24px;
        }
        span:first-child {
          color: #3c3c3b;
          font-size: 12px;
          font-weight: 600;
          text-decoration: line-through;
          @media screen and (min-width: 768px) {
            font-size: 30px;
          }
        }
        span:last-child {
          color: #e30613;
          font-size: 16px;
          font-weight: 800;
          @media screen and (min-width: 768px) {
            font-size: 40px;
          }
        }
      }
      .brand {
        display: block;
        margin-top: 10px;
        text-align: center;
        color: #3c3c3b;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .desc {
        display: block;
        text-align: center;
        margin-top: 9px;
        color: #3c3c3b;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  .bf__title {
    color: black;
    font-size: 26px;
    font-weight: 800;
    line-height: 27px;
    text-transform: uppercase;
  }

  .bf__title--border {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  .middle__left_mob {
    min-height: 148px;
    width: 100%;
    background: url('../../public/hero-mob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 18px;
    span:first-child {
      color: white;
      font-size: 25px;
      display: block;
      font-weight: 800;
      line-height: 100%;
      text-transform: uppercase;
    }

    span:nth-child(2) {
      display: block;
      color: transparent;
      -webkit-text-stroke: 1px white;
      font-size: 25px;
      font-weight: 800;
      text-transform: uppercase;
      margin-right: 1px;
    }

    button {
      border-radius: 26px;
      background: white;
      padding: 16px 22px;
      border: 0;
      margin-top: 22px;
      cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
